@tailwind base;
@tailwind components;
@tailwind utilities;


/* body, html {
  font-size: 10px;
} */

:root {
  --primaryColor: #5930ce;
  --primaryColorHover: #6444bd;
  --secondaryColor: #ff4081;
  --secondaryColorHover: #c71f57;
  --white: #fff;
  --black: #000;
  --greenDark: #02573f;
  --green: #017b5a;
  --greenLight: #02b182;
  --purple: #5930ce;
  --purpleLight: #643dcf;
  --orange: #fea804;
  --orangeDark: #dd9001;
  --orangeLight: #e9bb3d;
  --red: #bf524e;
  --redDark: #993c39;
  --redLight: #d4625f;
  --gray: #AAA;
}